{{!-- //--done--Setup the main.handlebars file so it's able to be used by Handlebars.

Setup the index.handlebars to have the template that Handlebars can render onto.


Create a button in index.handlebars that will submit the user input into the database. --}}


<div class="row">
    <div class=" center col-sm-6">
        <img src="/assets/img/burger.jpeg" alt="Eat-Da-Burger Time App">

        <p></p>
    </div>
    <div class=" col-sm-12" id="avail">
        <div class="col-sm-6">
            <h1>TIME TO EAT DA BURGER!!</h1>
            <h2>Available burgers</h2>
            <ul>
                {{#each burgers}}
                {{#unless this.devoured}}
                <li>
                    {{this.id}}
                    {{this.burger_name}}
                    <form action="/{{this.id}}?_method=PUT" method="POST">
                        <input type="hidden" name="devoured" value="true">
                        <button class="btn-primary" type="submit">Devour It!</button>
                    </form>
                </li>
                {{/unless }}
                {{/each}}
            </ul>
        </div>
        <div class="right col-sm-6" id="devour">
            <h2>DEVOURED BURGERS--THEY LOVED EM</h2>
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                <li>
                    {{this.id}}
                    {{this.burger_name}}

                </li>

                {{/if}}
                {{/each}}

            </ul>
        </div>
    </div>

    <h2>ENTER YOUR BURGER OF CHOICE</h2>
    <form class="create-form" action="/burger" method="POST">

        <div class="form-group">
            <label for="burg">CLICK ADD BURGER TO ORDER NOW!</label>
            <input type="text" id="burg" name="burger_name">
            <button type="submit">Add BURGER</button>
        </div>





    </form>